	@media only screen and (max-width: 640px) and (min-width: 480px){
		#cont{
	font-size:10px;
}
.bold{
	font-size:12px;
	font-family: sans-serif;
}
.nav{
	margin: 20px 6px 6px 6px;
	font-size: 20px;
	}
	.flex-container{
		width:100%;
	}
	.item{
		width: 100%;
		font-size:10px;
	}
	#self{
		width: 50%;
	}
	.flex{
		width:100vw;
		font-size: 10px;
	}
	.div1,.div2,#img,.layer2{
		width:450px;
		height:225px;
	}
.layer2{
	top:-229px;
}
.center{font-size:22px;}
#code-link{width:25px}
	.black{
		padding:70px 0px 40px 0px;
	}
	.project{
		padding-top: 20px;
	}
	#cont > h3{
		font-size:22px;
	}
	} 
