*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Dancing Script', cursive
}
.color{
	color:beige;
}
h1{
	font-size:72px;
}
.black{
	width:100vw;
	background-color:#a0816c;
	padding:70px 0px 70px 0px;
}
.container{
	display:flex;
	width:90%;
	margin: 5% 5% 0% 10%;
}
.item{
	width:50%;
	margin:auto;
}
.item1{
	width:50%;
	padding: 20px;

}
.small-text{
	margin-top:0px;
	font-size:28px;
	line-height: 1.4;
}
#self{
	width:75%;
	height:auto;
	border-radius:25px;
}
.silver{
    background-color: #bfaa8c;
    width: 100vw;
}
.project{
text-align:center;
padding-top: 50px;
color: #ffffff;

}
.parent {
display:grid;
justify-content: space-evenly;
grid-row-gap: 75px;
grid-template-columns: auto auto;
margin-top: 75px;
padding-bottom: 30px;

}
.div{
	width:40vw;
	border-radius: 25px;
	height:300px;
}
.img{
	width:100%;
	border-radius: 25px;
	height:300px;
}
.layer2{
	opacity: 1;
	position:relative;
	top:-300px;
	z-index:6;
	
}
.layer1{
	position:relative;
	top:0;
	opacity:0.85;
  width:100%;
	border-radius: 25px;
	height:300px;
	z-index:5;
	background-color: beige;
}
.layer2:hover{
	z-index: 0;
}
.layer1:hover{
	z-index: 8;
}
.pop-up{
	display:flex;
	width:100%;
	position: relative;
  height: 300px;
  justify-content:center;
  flex-direction: column;
  color:#a0816c;
}
.pop-up-item{
	width:auto;
	height:100px;
	text-align: center;	
  font-size:28px;

}
.pop-up-item > h2{
	font-size :56px;

}
.flex-again{
	display:flex;
	align-items: center;
	justify-content: center;
}
@keyframes blink{
	from{border-style: solid;
		border-radius: 0px;
		border-color:white;}
	to{border-style: dashed;
		border-radius: 15px;
		border-color:#a0816c}
}
@keyframes blink2{
	from{border-style: solid;
		border-color:white;}
	to{border-style: dashed;
		border-color:#a0816c}
}
.button{
	height:50px;
	border:3px dashed #a0816c;
	padding:3px;
  animation-name:blink2;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;

}
.button > a{
	color:#a0816c;
}
.button:hover{
  animation-name:blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  background-color: white;
  opacity:1;
}
#code-link{
	width:auto;
	height:50px;
	margin:20px;
  
}
#code-link:hover{
	scale:1.15;
}
.flex-container {
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  width:100%;
  z-index: 10;
  background-color: #a0816c;
}
.nav{
	margin: 45px 20px 20px 20px;
  font-size:30px;
  text-decoration: none;
}
.nav > a {
  box-shadow: inset 0 0 0 0 white;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav > a:hover {
  box-shadow: inset 130px 0 0 0  white;
  color: #000;
}
.nav > a:active{
  text-decoration: underline;
  text-decoration-color: beige;
}
#cont{
 background-color:#a0816c;
 width:100%;
 height:auto;
 padding:20px;
 text-align: center;

}
#cont > h3 {
	font-size:28px;
	padding:22px;
}
.bold{
 color:black;
 font-weight: bold;
}
.flex-container-last{
	display: flex;
	justify-content: center;
}
#colorz{
	width:35px;
	height:auto;
	margin:20px;
  
}
#colorz:hover{
	scale:1.45;
}
/* keyframes */
@media only screen and (max-width: 500px){
#cont{
	font-size:10px;
}
.bold{
	font-size:12px;
	font-family: sans-serif;
}
.nav{
	margin: 20px 6px 6px 6px;
	font-size: 20px;
	}
	.container{
		flex-direction: column-reverse;
		font-size:11px;
		width:100%;
		margin:-2% 0% 0% 0%;
	}
	.item1{
		width:90%;
		padding: 0px;
		margin:0% 5% 10% 5%;
	}
	#self{
		width:100%;

	}
	h1{
		text-align: center;
	}
	.item{
		width:90%
	}
	.flex-container{
		width:100vw;
	}
	.black{
		padding:70px 0px 40px 0px;
	}
	.project{
		padding-top: 20px;
	}
	.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 30px;
margin-top:30px;
}
.div{
	width:85%;
	margin:auto;
}
.pop-up-item{
  font-size:22px;
  line-height: 0.8;
}
#cont > h3 {
	font-size:22px;
	padding:18px;
}
}
